*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }


 .container{
    width: 90%;
     max-width: 1200px;
    height: 600px;
    background: linear-gradient(135deg, #f37042 0%, #f7941d 100%);
    position: relative;
    overflow: hidden;
    color: white;
    padding: 40px;
  }

   nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
   }
   nav ul{
    display: flex;
    list-style: none;
    align-items: center;
   }
   nav ul li{
    margin-left: 25px;
   }
   nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
   }
    .buy-now-btn{
        background: #333;
        padding: 8px 20px;
        border-radius: 20px;
    }


.mainbox{
    display: flex;
    height: 100%;
    align-items: center;
}

.content{
    flex: 1;
    z-index: 2;
}

 .content h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 1.2;
 }

  .content p{
    margin-bottom: 30px;
    font-size: 1rem;
    max-width: 400px;
    line-height: 1.5;
  }
  .main-btn{
    background-color: #2c3e50;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
  }

  .image-section{
    flex: 1;
    position: relative;
    height: 100%;
  }

  .image{
    position: absolute;
    right: -50;
    top: 50;
    width: 500px;
    height: 500px;
    background: white;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    overflow: hidden;
  }
   image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   }

   .bg-shape{
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 300px;
    height: 300px;
    background: #e67e22;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
   }



 